<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.henry.somero1"
    versionCode = "1"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>mySchool1</name>

  <description>
      Mobile E-learning App.
  </description>

  <author href="https://jermtechnology.com" email="info@jermtechnology.com">
      Henry Andama
  </author>
    
<icon src="images/bg1.png" />

<!-- Allow links to web pages to open in a browser -->
<allow-intent href="http://*/*" />
<allow-intent href="https://*/*" />

<!-- Allow links to jermtechnology.com -->
<allow-navigation href="http://jermtechnology.com/*" />

<!-- Enable requests to content: URLs -->
<access origin="content:///*" />

<!-- Don't block any requests -->
<access origin="*" />

<!-- The above is equivalent to these three declarations -->
<allow-navigation href="http://*/*" />
<allow-navigation href="https://*/*" />
<allow-navigation href="data:*" />

<platform name="android">
    <allow-intent href="market:*" />
</platform>
    
<plugin name="cordova-plugin-battery-status" />
<plugin name="cordova-plugin-camera" />
<plugin name="cordova-plugin-media-capture" />
<plugin name="cordova-plugin-prevent-screenshot" />
    
<preference name="fullscreen"  value="false" />
    
<plugin name="cordova-plugin-geolocation" />
    
</widget>
